.country-details {
    display: flex;
    justify-content: center;
    background: rgb(93,151,242);
    background: radial-gradient(circle, rgba(93,151,242,1) 0%, rgba(29,33,253,1) 50%, rgba(56,75,245,1) 100%);
}

.country-details > article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 60vw;
    margin: 40px auto;
    border: 5px solid black;
    border-radius: 15px;
    padding: 25px;
    background-color: rgb(12, 27, 95);
    color: white;
}

a{
    text-decoration: none;
    color: white;
}